.title {
	position: relative;
	z-index: 1;
  font-family: 'Exo 2';
	font-weight: 100;
  font-size: 36px;
  line-height: 122%;
	margin-bottom: 22px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 1px 1px #000000;
}
